.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
}

.wrapper {
    background-color: rgba(41, 40, 40, 0.247);
    border-radius: 30px;
    padding: 1rem 2rem;
    height: fit-content;
    width: fit-content;
    display: flex;
}